.bannerBg{
    &-locationicon{
        width: 40px;
        @include pad{
            width: 30px;
        }
        @include mobile{
            width: 17px;
        }
    }
}
// 內容
.select{
    &-label{
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        vertical-align: middle;
    }
    &-control{
        width: 325px;
        height: 45px; 
        border: 1px solid $gray-300;
        font-size: 18px;
        line-height: 25px;
        color: #495057;
        vertical-align: middle;
    }    
    @include pad{
        &-label , &-control{
            font-size: 16px;
            line-height: 22px;
        }
        &-control{
            width: 237px;
            height: 46px; 
        }    
    }
    @include mobile{
        &-label , &-control{
            font-size: 14px;
            line-height: 20px;
        }
        &-control{
            flex-grow: 1;
        }
    }
}
.locationCard{
    &-item{
        width: calc(100% / 3 - 2% );
        margin: 0 1% 2%;
    }
    &-pic{
        width: 100%;
    }
    &-title{
        border:1px solid $gray-300;
        font-size: 24px;
        line-height: 36px;
    }
    &-list{
        border:1px solid $gray-300;
    }
    &-listInfo-icon{
        width: 21px;
    }
    &-btn{
        width: 100%;
        font-size: 19px;
        line-height: 26px;
        display: block;
        border:1px solid $gray-300;
        background: $dark;
        transition: 1s;
        &:hover{
            background: $secondary;
            transition: 1s;
        }
    }
    @include pad{
        &-item{
            width: calc(100% / 2 - 4%);
            margin:0 2% 3%;
        }
        &-title{
            font-size: 20px;
            line-height: 30px;
        }
        &-btn{
            font-size: 14px;
            line-height: 20px;
        }
    }
    @include mobile{
        &-item{
            width: 100%;
            margin: 0 0 2% 0;
        }
        &-title{
            font-size: 14px;
            line-height: 21px;
        }
    }
}