.productOPBanner{
    &-pic{
        width:calc(100% / 2 - 20px ) ;
        @include pad{
            width: calc(100% / 2 );
        }
    }    
}
// productOP 標題
.productOP{    
    &-titleEn{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 42px;
        line-height: 63px;
    }
    &-titleTw{
        font-size: 32px;
        line-height: 48px;
    }
    @include pad{
        &-titleEn{
            font-size: 32px;
            line-height: 43px;
        }
        &-titleTw{
            font-size: 32px;
            line-height: 48px;
        }
    }
    @include mobile{
        &-titleEn{
            font-size: 20px;
            line-height: 26px;
        }
        &-titleTw{
            font-size: 16px;
            line-height: 22px;
        }
    }
}
// productOP 商品列
.productOPCard{
    &-item{
        width: calc(100% / 4 - 20px );
        margin: 0 10px 104px;
    }
    &-pic{
        width: 100%;
    }
    &-name , &-price{
        font-family: 'Roboto';
        font-size: 24px;
        line-height: 36px;
    }
    &-price{        
        font-weight: 600;
    }
    &-colorList{
        &-color{
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 4px;
            &:hover{
                transform: translateY(-5px);
            }
        }
    }
    @include pad{
        &-item{
            width: calc(100% / 2 - 30px );
            margin: 0 15px 72px;
        }
        &-name , &-price{
            line-height: 32px;
        }
    }
    @include mobile{
        &-item{
            width: 100% ;
            margin: 0 0 32px;
        }
        &-name , &-price{
            font-size: 16px;
            line-height: 21px;
        }
        &-colorList{
            &-color{
                width: 17px;
                height: 17px;
            }
        }
    }
}
